<div class="container-fluid">
    <div class="card" >
        <div class="card-body">
          <h4 class="card-title">Welcome to Quiz App</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <h6>Rules :</h6>
          <ol>
              <li>Correct Question gives you 10 points</li>
              <li>Incorrect question gives to -10 points</li>
              <li>You will have 10 sec to answer each question</li>
              <li>Refershing the page will reset the Quiz</li>
          </ol>
         
        </div>

        <div class="card-subtitle">
            <span>All the Best</span>
        </div>

        <div class="mb-3" style="width: 500px">
            <label for="exampleFormControlInput1" class="form-label">Enter your name</label>
            <input #namekey type="name" class="form-control" id="exampleFormControlInput1">
          </div>

          <button type="button"  routerLink="/question" 
         (click)="startQuiz()" class="btn btn-primary" style="width: 200px;">Start the Quiz</button>
        
    </div>

</div>